<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/adminLayout}">
<head>
    <title>Dashboard</title>
</head>

<body>

<div class="content" layout:fragment="content">

    <!-- Child content will render here -->

</div>

<th:block layout:fragment="childScript">

    <!--Child script will render here -->

</th:block>

</body>
</html>